# Dependencias
node_modules/

# Salidas de compilación Sass
.sass-cache/
*.css.map

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración del entorno / logs
.env
*.log

# Salidas de build
dist/
build/

# Configs de editores
.vscode/
.idea/

# Archivos temporales de Windows/Office
*.tmp
*.bak
~$*
