@use '../utils/variables';
@use '../base/reset';
#resultado {
  background: white;
  padding: 1rem;
  border-left: 5px solid variables.$accent-color;
  max-width: 400px;
  border-radius: 4px;

  p {
    margin: 0.5rem 0;
  }
}
